.navbar{
    width: 100%;
    height: 120px;
    background-color: #FCF8F5;
}

.navbar_conatct{
    width: 100%;
    height: 30px;
    background-color: var(--main-color);
}

.main_logo{
    width: 105px;
    height: auto;
}

.navbar_inner{
    width: 100%;
    height: 90px;
    max-width: 1440px;

    padding: 0 160px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_links{
    height: 100%;

    display: flex;
    align-items: center;
    gap: 50px;
}