.navbar{
    width: 100%;
    height: 120px;
    background-color: #FCF8F5;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.navbar_conatct{
    width: 100%;
    height: 30px;
    background-color: var(--main-color);
}

.main_logo{
    width: 105px;
    height: auto;
}

.navbar_inner{
    width: 100%;
    height: 90px;

    padding: 0 80px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_links{
    height: 100%;

    display: flex;
    align-items: center;
    gap: 50px;
}

/* burger menu */
.burger_menu{
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 20px;
    height: 25px;
    cursor: pointer;
}

.stick1,
.stick2,
.stick3{
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.stick2.opened{
    margin-left: -5px;
    transition: all 0.3s ease;
}

@media (max-width:1200px) {
    .navbar_links{
        display: none;
    }
}